services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /Docker/radarr/config:/config
      - /nas/Films:/nas/Films #optional
      - /nas/Torrents:/nas/Torrents #optional
    ports:
      - 7878:7878
    restart: unless-stopped